<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Template-driven [()] ngModel -->
<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Sintomas</ion-label>
      <ion-input name="name" type="text" placeholder="Nome do Sintoma"  [(ngModel)]="symptoms.name"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Descriçao</ion-label>
      <ion-input name="description" type="text" placeholder="Descrição do Sintoma"  [(ngModel)]="symptoms.description"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary">Salvar</ion-button>
    <ion-button expand="block" [routerLink]="['/symptoms-list']" color="secondary">Cancelar</ion-button>

  </form>
</ion-content>
